.title-darhboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.title-darhboard>div:first-child {
    display: flex;
    gap: 10px;
    align-items: center;
}

.title-darhboard svg {
    color: rgb(213, 24, 122);
    font-size: 16px;
}

.title-darhboard>div:last-child {
    display: flex;
    gap: 10px;
    align-items: center;
}

.title-darhboard>div:last-child button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: 1px solid rgb(213, 24, 122);
    color: rgb(213, 24, 122);
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 8px;

}

table {
    border: 1px solid #ccc;
    border-radius: 8px;
}



td {
    border-bottom: 1px solid #ccc;
    text-align: center;
    color: #5e5b5b;
}

th {
    background-color: #e9e9e9;

}

table.dataTable tbody th,
table.dataTable tbody td {
    padding: 5px;
}