/* .default-layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 0.25fr 0.8fr repeat(2, 1fr) 0.2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

.content {
    grid-area: 3 / 2 / 5 / 6;
    padding: 20px;
} */