.container {
  display: grid;
  grid-template-columns: 1fr repeat(4, 1fr);
  grid-template-rows: 0.5fr repeat(3, 1fr) 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  /* Tuỳ chọn */
}